mysql_to_blob.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"MYSQL_Connection":{"type":"string"},"Snowflake_Stage":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/mysql_to_blob')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Mysql_TO_Blob","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"MySqlSource"},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobStorageWriteSettings","copyBehavior":"FlattenHierarchy"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".csv"}},"enableStaging":false,"translator":{"type":"TabularTranslator","mappings":[{"source":{"name":"passenger_id","type":"String"},"sink":{"name":"passenger_id","type":"String","physicalType":"String"}},{"source":{"name":"First_name","type":"String"},"sink":{"name":"First_name","type":"String","physicalType":"String"}},{"source":{"name":"Last_name","type":"String"},"sink":{"name":"Last_name","type":"String","physicalType":"String"}},{"source":{"name":"Gender","type":"String"},"sink":{"name":"Gender","type":"String","physicalType":"String"}},{"source":{"name":"Age","type":"Int32"},"sink":{"name":"Age","type":"String","physicalType":"String"}},{"source":{"name":"Nationality","type":"String"},"sink":{"name":"Nationality","type":"String","physicalType":"String"}},{"source":{"name":"Airport_name","type":"String"},"sink":{"name":"Airport_name","type":"String","physicalType":"String"}},{"source":{"name":"Airport_Country_Code","type":"String"},"sink":{"name":"Airport_Country_Code","type":"String","physicalType":"String"}},{"source":{"name":"Country_Name","type":"String"},"sink":{"name":"Country_Name","type":"String","physicalType":"String"}},{"source":{"name":"Airport_Continent","type":"String"},"sink":{"name":"Airport_Continent","type":"String","physicalType":"String"}},{"source":{"name":"Continents","type":"String"},"sink":{"name":"Continents","type":"String","physicalType":"String"}},{"source":{"name":"Departure_Date","type":"String"},"sink":{"name":"Departure_Date","type":"String","physicalType":"String"}},{"source":{"name":"Arrival_Airport","type":"String"},"sink":{"name":"Arrival_Airport","type":"String","physicalType":"String"}},{"source":{"name":"Pilot_Name","type":"String"},"sink":{"name":"Pilot_Name","type":"String","physicalType":"String"}},{"source":{"name":"Flight_Status","type":"String"},"sink":{"name":"Flight_Status","type":"String","physicalType":"String"}}],"typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"MySqlTable1","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"Airlines","type":"DatasetReference","parameters":{}}]},{"name":"CleanRawAirlinesData","type":"ExecuteDataFlow","dependsOn":[{"activity":"Mysql_TO_Blob","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"CleanRawAirlinesData","type":"DataFlowReference","parameters":{},"datasetParameters":{"AirlinesRawData":{},"AirlinesData":{}},"linkedServiceParameters":{}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2024-02-23T15:10:34Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/MySqlTable1')]","[concat(variables('factoryId'), '/datasets/Airlines')]","[concat(variables('factoryId'), '/dataflows/CleanRawAirlinesData')]"]},{"name":"[concat(parameters('factoryName'), '/MySqlTable1')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('MYSQL_Connection')]","type":"LinkedServiceReference"},"annotations":[],"type":"MySqlTable","schema":[],"typeProperties":{"tableName":"`ods_airlines`"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Airlines')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('Snowflake_Stage')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobStorageLocation","fileName":"airlines","folderPath":"csv","container":"raw"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/CleanRawAirlinesData')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"Arilines_Raw_data","type":"DatasetReference"},"name":"AirlinesRawData"}],"sinks":[{"dataset":{"referenceName":"Airlines_clean","type":"DatasetReference"},"name":"AirlinesData","rejectedDataLinkedService":{"referenceName":"[parameters('Snowflake_Stage')]","type":"LinkedServiceReference"}}],"transformations":[{"name":"ReplaceInvalidCharacter"}],"scriptLines":["source(output(","          passenger_id as string,","          First_name as string,","          Last_name as string,","          Gender as string,","          Age as string,","          Nationality as string,","          Airport_name as string,","          Airport_Country_Code as string,","          Country_Name as string,","          Airport_Continent as string,","          Continents as string,","          Departure_Date as string,","          Arrival_Airport as string,","          Pilot_Name as string,","          Flight_Status as string","     ),","     allowSchemaDrift: true,","     validateSchema: false,","     ignoreNoFilesFound: false) ~> AirlinesRawData","AirlinesRawData derive(Airport_name = regexReplace(Airport_name, '[^\\\\w\\\\s]',  ' ')) ~> ReplaceInvalidCharacter","ReplaceInvalidCharacter sink(allowSchemaDrift: true,","     validateSchema: false,","     partitionFileNames:['Airlines_Data.csv.gz'],","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true,","     mapColumn(","          passenger_id,","          First_name,","          Last_name,","          Gender,","          Age,","          Nationality,","          Airport_name,","          Airport_Country_Code,","          Country_Name,","          Airport_Continent,","          Continents,","          Departure_Date,","          Arrival_Airport,","          Pilot_Name,","          Flight_Status","     ),","     partitionBy('hash', 1)) ~> AirlinesData"]}},"dependsOn":["[concat(variables('factoryId'), '/datasets/Arilines_Raw_data')]","[concat(variables('factoryId'), '/datasets/Airlines_clean')]"]},{"name":"[concat(parameters('factoryName'), '/Arilines_Raw_data')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('Snowflake_Stage')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobStorageLocation","fileName":"airlines","folderPath":"csv","container":"raw"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"passenger_id","type":"String"},{"name":"First_name","type":"String"},{"name":"Last_name","type":"String"},{"name":"Gender","type":"String"},{"name":"Age","type":"String"},{"name":"Nationality","type":"String"},{"name":"Airport_name","type":"String"},{"name":"Airport_Country_Code","type":"String"},{"name":"Country_Name","type":"String"},{"name":"Airport_Continent","type":"String"},{"name":"Continents","type":"String"},{"name":"Departure_Date","type":"String"},{"name":"Arrival_Airport","type":"String"},{"name":"Pilot_Name","type":"String"},{"name":"Flight_Status","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Airlines_clean')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('Snowflake_Stage')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobStorageLocation","folderPath":"csv","container":"raw"},"columnDelimiter":",","compressionCodec":"gzip","compressionLevel":"Optimal","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"'"},"schema":[]},"dependsOn":[]}]}